.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f8f9fa;
}

input[type="date"], .form-control {
  margin-right: 5px;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.list-group-item span {
  flex-grow: 1;
}

.btn-sm {
  margin-left: 10px;
}

body {
  background-color: #f4f4f8;
}

h2 {
  text-align: center;
}

.card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  background: inherit;
  border-top: none;
}

.notification {
  color: red;
  font-weight: bold;
}


